body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#ince{
background-color: #B24242;
color: white;
text-align: center;
font-weight: bold;
width:50px ;
cursor: pointer;

}

#dec{
  color: #B24242;
  text-align: center;
  font-weight: bold;
  width:50px ;
  cursor: pointer;
}

table, th, td {
  border: 1px solid #B24242;
  border-collapse: collapse;
  align-items: center;
  margin-top: 200px;
  height: 60px;
margin-left: 600px;

}
th, td {
  padding: 5px;
  text-align: left;    
}
table,tr{
  border-radius: 20%;
}
#num{
  background-color: #FBE8E8;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width:50px ;
  color: #B24242;
}